.logo_header{
    width: 100px;
    height: auto;
}  
main{
    padding: 20px;
    box-sizing: border-box;
  }
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1;
}
button{
    width: 120px;
    height: 80px;
    background-color: lightblue;
    margin-bottom: 1%;
    border: none;
}
h1, h2, h3, p{
    text-align: center;
}
h1{
    padding-top: 2%;
}
.blog_container{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: space-around;
    align-items: center;
}
.blogImage>img{
    max-width: 100%;
    max-height: 100%;
    align-self: flex-end;
}
.blogImage{
    flex: 2;
}
.titelText{
    flex: 1;
}