.containter_introduction{
    display:flex;
    margin-top: 2%;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding: 30px;
    border: black;
}
.box{
    min-height: 300px;
    min-width: 200px;
    border-style: dotted;
    
}
.containter-icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    
}
button{
    border-radius: 50%;
    text-decoration: none;
}